com.android.ide.eclipse.adt/bin
com.android.ide.eclipse.ddms/bin
com.android.ide.eclipse.tests/bin

com.android.ide.eclipse.tests/unittests/com/android/ddmlib
com.android.ide.eclipse.tests/unittests/com/android/sdklib
com.android.ide.eclipse.tests/unittests/com/android/sdkuilib
com.android.ide.eclipse.tests/unittests/com/android/layoutlib

